h3 {
    background-color: grey;
    color:red;
    font-size: xx-large;
    font: bold;
}
.qualification{
    background-color:  gray;
}
#myform{
    background-color: gray;
}
.button{
    padding : 10px;
    background-color: green;

}
.form .label{
    color: blueviolet;
}
table, th{
    border: 2px solid;
    border-color:red;
    border-collapse: collapse;
    padding: 15px;
    margin: 10px;
}