*{
    padding: 0px; margin: 0px;
}
html{
    scroll-behavior: smooth;
}

h3 {
    background-color: grey;
    color:red;
    font-size: xx-large;
    font: bold;
}
h1{
    text-align: center;
    /* vertical-align: middle; */
    text-transform: uppercase;
    font-size: 40px;
    /* height: 100%; */
}
.qualification{
    background-color:  gray;
}
#myform{
    background-color: gray;
}
.button{
    padding : 10px;
    background-color: green;

}
.form .label{
    color: blueviolet;
}
table, th{
    border: 2px solid;
    border-color:red;
    border-collapse: collapse;
    padding: 15px;
    margin: 10px;
}
#header{
    background-color: red;
    height: 12vh;
    vertical-align: middle;
    position: fixed;
}
#banner{
    height: 100vh;
    /* background-color: blue;
    border: 2 px;
    border-color: bluef2; */
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12vh;

    
}
#banner h1{
    font-size: 60px;
    text-align: left;
    color: antiquewhite;
    padding-top: 10px;

}
#section1{
    height: 50vh;
    border: 2 px;
    border-color: blueviolet;
    
    padding-top: 12vh;
}
/* .circlecon{
    margin: 0px 50px;
    display: inline-block;
    padding: 50px;
} */
.gridcontainer1{
    display: grid;
    grid-template-columns: auto;
   
    
    
}
.c0{
    grid-row: 1/2;
    grid-column: 2/span 2;
}
.c1{
    grid-row: 2;
    grid-column: 1/2;
}
.c2{
    grid-row: 2;
    grid-column: 2/3;
    
}
.c3{
    grid-row: 2;
    grid-column: 3/4;
    
}
.c4{
    grid-row: 2;
    grid-column: 4;
    
}
.s0{
    grid-row: 1/2;
    grid-column: 1/span 2;
}
.s1{
    grid-row: 2/span 3;
    grid-column: 1/span 1;
}
.s2{
    grid-row: 2/span 1;
    grid-column: 2/span 1;
}
.s3{
    grid-row: 3/span 1;
    grid-column: 2/span 1;
}
.s4{
    grid-row: 4/span 1;
    grid-column: 2/span 1;
}
@media  screen and (max-width: 800px){ 
    #gridcontainer{ grid-template-rows: repeat(2, 1fr);}
    
}
.circles{
    background-color: aquamarine;
    height: 42vh;
    width: 350px;
    /* border: 2px;
    border-color: brown; */
    border-radius:35%;
    /* margin: 50px; */
    margin: 0px 16px;
}

#anuj{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35%;

}
.css{
    width: 100%;
    height: 53%;
    object-fit: contain;
    margin: 0px;
    

}
/* #newdiv{
    display: flex;
    justify-content: space-between;
} */
.techtext{
    font-size: 22.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;  
    text-align: justify;

}
button{
    width: 104%;
    height: 10%;
    background-color: brown;
    border-width: 0px;
    margin-left: -5px;
    border-radius: 15%;
    vertical-align: bottom;
}
button a{
    font-size: 20px;
    text-decoration: none;
    color: antiquewhite;
}
/* #anuj{
    background-image: url("anuj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

#section1 h1{
    /* display: flex; */
    /* justify-content: space-between; */
    align-content: center;
    /* margin-right: 250px; */
    padding-bottom: 20px;
}
#section2{
    height: 100vh;
    padding-top: 12vh;
}
#section2 h1{
    padding-bottom: 20px;
}
.contentarticle{
    
    display: inline-block;
    vertical-align: top;

}
#maincontent{
    height: 690px;
    /* width: 50%; */
    background-color: gray;
    width: 756px;


}
#maincontent h1{
    text-align: left;
    padding-bottom: 20px;
}
#maincontent p{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}
#articles{
    height: 690px;
    width: 49%;
    /* background-color: rgb(174, 116, 30); */
    
    
}
.eacharticle{
    height: 227px;
    width: 756px;
    margin-left: 5px;
   
}
#article1{
    background-image: url("article 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#article2{
    background-image: url("article 2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
}
#article3{
    background-image: url("article 3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
}
#section3{
    height: 100vh;
    border: 2 px;
    border-color: blueviolet;
    margin-left: 10px;
    padding-top: 12vh;
}

.squarecon{
    margin: 0px 50px;
    display: inline-block;
    vertical-align: top;
}
.squares{
    background-color: aquamarine;
    height: 500px;
    width: 260px;
    border: 0px;
    padding: 5px 5px 0px 5px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#footer{
    height: 20vh;
    padding-top: 2vh;
}
#contactinfo{
    background-color: palevioletred;
    height: 15vh;
}
#contactinfo h3{
    font-size: 18px;
    color: antiquewhite;
    text-align: center;
    background-color: palevioletred;
}
#contactinfo p{
    text-align: center;
}

/* #navigation :hover{
    display: flex;
    text-align: right;
    vertical-align: middle;
    padding-top: 18px;
    padding-left: 500px;
    
    
} */
#navigation{
    display: flex;
    text-align: right;
    /* padding-top: 18px; */
    padding-left: 670px;
    height: 100%;
    justify-content: flex-end;
}
header h1 ul{
    display: flex;          
    padding-right: 30px;
    list-style: none;
    /* height: 100%; */
    height: 100%;
    vertical-align: middle;
    
}
header h1 ul li :hover{
    background-color: blue;
    background-size: cover;
    color: brown;
    font-size: 35px;


     
}
header h1 ul li{
    padding: 26px 10px 0px 10px;
    /* height: 100px; */
    font-size:xx-large;
    height: 100%;

        
}
header h1 ul li a{
    text-decoration: none;
    padding: 26px 0px 25px 0px;
}