*{
    padding: 0px; margin: 0px;
}
h3 {
    background-color: grey;
    color:red;
    font-size: xx-large;
    font: bold;
}
.qualification{
    background-color:  gray;
}
#myform{
    background-color: gray;
}
.button{
    padding : 10px;
    background-color: green;

}
.form .label{
    color: blueviolet;
}
table, th{
    border: 2px solid;
    border-color:red;
    border-collapse: collapse;
    padding: 15px;
    margin: 10px;
}
#header{
    background-color: red;
    height: 50px;
}
#banner{
    height: 100vh;
    background-color: blue;
    border: 2 px;
    border-color: bluef2;
}
#section1{
    height: 300px;
    border: 2 px;
    border-color: blueviolet;
}
.circles{
    background-color: aquamarine;
    height: 150px;
    width: 150px;
    border: 2px;
    border-radius:50%;
    margin: 50 px;
    display: inline-block;
    padding: 50px;
    align-content: center;
}